@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: #272727;
    background: #f9f9f9;
  }

  html,
  * {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: inherit;
    overflow: hidden;
    overflow-y: scroll;
  }

  a,
  button {
    text-decoration: none;
  }

  li,
  ol,
  ul,
  a {
    text-decoration: none;
    list-style: none;
  }
  .box-shadow {
    box-shadow: -6px 1px 73.3px 0px rgba(0, 0, 0, 0.06);
  }
  .form-input-group:not(:first-child) {
    margin-top: 35px;
  }
  li.options-dropdown-items.selected {
    background: #fff;
  }
}

@layer components {
  .custom-container-fluid {
    @apply mx-auto w-full max-w-[1280px] px-[30px] sm:px-0;
  }

  .custom-container {
    @apply container laptop-x:container laptop-m:container lg:container md:container sm:container xs:container xxs:container lg:px-[30px] sm:px-4 xxs:px-4;
  }
  .auth-screen-title {
    @apply text-center font-secondary text-primary-heading font-bold leading-none text-primary-color;
  }
  .auth-screen-desc {
    @apply mt-[10px] text-center font-primary text-body-text font-normal leading-[21px] text-secondary-color;
  }
}
