@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }

  html,
  * {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: inherit;
    overflow: hidden;
    overflow-y: scroll;
  }

  a,
  button {
    text-decoration: none;
  }

  li,
  ol,
  ul,
  a {
    text-decoration: none;
    list-style: none;
  }
}

@layer components {
  .custom-container-fluid {
    @apply max-w-[1280px] w-full mx-auto px-[30px] sm:px-0;
  }

  .custom-container {
    @apply container laptop-x:container laptop-m:container lg:container md:container sm:container xs:container xxs:container lg:px-[30px] sm:px-4 xxs:px-4;
  }
}
